@charset "utf-8";

/* =========================
	import
 ========================= */
@import url('reset.css');

/* =========================
	COMMON
 ========================= */
body{font-family:'NotoSansKR', sans-serif; color:#000; font-size:14px; letter-spacing: 0;}
.noScroll{overflow:hidden !important;}
.show{display:block !important;}
.hide{display:none !important;}
.ellipsis01{display: block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
/*scrollbar*/
.scrollArea{overflow:hidden;overflow-y:scroll;scrollbar-arrow-color: #fff;scrollbar-Track-Color: #fff; scrollbar-base-color: #E6E9F4;scrollbar-Face-Color: #E6E9F4;scrollbar-3dLight-Color: #E6E9F4;scrollbar-DarkShadow-Color: #E6E9F4;scrollbar-Highlight-Color: #E6E9F4;scrollbar-Shadow-Color: #E6E9F4}
.scrollArea::-webkit-scrollbar {width: 14px;}
.scrollArea::-webkit-scrollbar-thumb {background-color: #E6E9F4; border-radius: 10px; background-clip: padding-box; border: 2px solid transparent;}
.scrollArea::-webkit-scrollbar-track {background-color: transparent; border-radius: 10px;}

/* positioning */
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right;}
.vat{vertical-align:top !important;}
.mt0{margin-top:0 !important;}
.mt1{margin-top:3px !important;}
.mt2{margin-top:5px !important;}
.mt3{margin-top:8px !important;}
.mt4{margin-top:16px !important}
.mt5{margin-top:20px !important;}
.mt6{margin-top:24px !important;}
.mt7{margin-top:28px !important;}
.mt8{margin-top:40px !important;}
.mb0{margin-bottom:0 !important;}
.mb1{margin-bottom:3px !important;}
.mb2{margin-bottom:5px !important;}
.mb3{margin-bottom:8px !important;}
.mb4{margin-bottom:16px !important}
.mb5{margin-bottom:20px !important;}
.mb6{margin-bottom:25px !important;}
.mb7{margin-bottom:30px !important;}
.mb8{margin-bottom:40px !important;}
.pb8{padding-bottom: 8px !important;}

/* titles */
.headline01{font-size:96px; font-weight:300; line-height:139px;}
.headline02{font-size:60px; font-weight:300; line-height:87px;}
.headline03{font-size:48px; font-weight:400; line-height:70px;}
.headline04{font-size:30px; font-weight:700; line-height:43px;}
.headline05{font-size:24px; font-weight:700; line-height:35px;}
.headline06{font-size:18px; font-weight:700; line-height:26px;}

[class^="cont_txt"]{font-weight: 400;}
.cont_txt01{font-size: 16px; line-height: 28px;}
.cont_txt02{font-size: 14px; line-height: 24px;}

/* texts */
.color0{color:#777777 !important;}
.colorA{color:#6666CC!important;}
.colorB{color: #808080!important;}
.colorC{color: #7E84A3!important;}
.colorD{color:#6765E9!important;}
.colorError{color:#F63E3E !important;}

/*ico*/
[class^="ico_"]{display:inline-block;width:23px; height: 23px; vertical-align: middle; background:url(../images/common/ico_global.png)no-repeat; background-size: 200px; font-size:0}
.ico_del_gray{background-position:0 -118.3px;}
.ico_filter_purple{background-position:-69px -118.3px; margin-right: 7.5px;}
.ico_write_purple{background-position:-92px -118.3px;}
.ico_new{width: 18px;height: 18px; background-position:-25.3px -2.6px;}
.ico_share{background-position:-115px -118.3px;}
.ico_arrow_prev.disabled{background-position:-0px -72px;}
.ico_arrow_next.disabled{background-position:-23px -72px;}
.ico_arrow_prev{background-position:-0px -95.3px;}
.ico_arrow_next{background-position:-23px -95.3px;}
.ico_arrow_up{background-position:-69px -72px;}
.ico_arrow_down{background-position:-46px -72px;}
.ico_close_x{background-position:-0px -22.6px;}
.ico_plus_white{margin-right:10px; background:#fff;}
.ico_plus_purple{margin-right:10px; background:#6666CC;}
[class^="ico_cate"]{width: 13px;height: 13px; -webkit-border-radius: 3px; border-radius: 3px; margin-right: 6px;}
.ico_cateA{background: #CAB1FF;}
.ico_cateB{background: #F4B5AD;}

/* bgColor */
.bgColor01{background:#FBDEC9}
.bgColor02{background:#FFF4D9}
.bgColor03{background:#E1EFDC}
.bgColor04{background:#DEF5EA}
.bgColor05{background:#D6EEFF}
.bgColor06{background:#DDE1F5}
.bgColor07{background:#CDD4F6}
/* =========================
	BUTTONS
 ========================= */
 a,
 button{font-family:'NotoSansKR',sans-serif; }
 .btnArea{display:-webkit-flex; display: flex;}
 .btnArea a,
 .btnArea button{margin:0 0 0 9px;}
 .btnArea a:first-child,
 .btnArea button:first-child{margin:0;}

.btnWrapA{padding:21px 0px;display: -webkit-flex; display: flex;-webkit-justify-content: flex-end;justify-content: flex-end;-webkit-align-items: center;align-items: center;}
.btnWrapA>button{margin-left: 10px;}
.btnWrapA .cont_txt02{padding:0 7px 0 5px}
.btnWrapA [class^="btn_fill"]{min-width: 150px; margin-left: 27px; padding:17px 16px;}

[class^="btn_"]{display: inline-block; box-sizing: border-box;}
[class^="btn_"].disabled{pointer-events: none;}

/*text_button*/
.btn_text{padding: 10px 16px; font-size:14px; line-height:20px; font-weight: 700;color:#000;}

/* btn_fill */
[class^="btn_fill"]{padding: 10px 16px; background:#6666CC; border:1px solid #6666CC; -webkit-border-radius: 8px; border-radius: 8px; line-height: 20px; font-size:14px; font-weight: 700; color: #fff;}
[class^="btn_fill"].disabled{background: #D7DBEC;border-color: #D7DBEC;}
.btn_fill_color01{background: #000; border-color: #000;}
.btn_fill_color02{background: #F5F6FA; border-color: #F5F6FA;}

/* btn_border */
[class^="btn_border"]{padding:7px 10px; background:#fff; border:1px solid rgba(0, 0, 0, 0.5); -webkit-border-radius: 8px; border-radius: 8px; line-height: 20px; font-size:16px; font-weight: 700; color: #000;}
.btn_border_color01{border: 1px solid #D7DBEC;color: #7E84A3;}

/*Rabels*/
[class^="rabel_"]{display: inline-block; box-sizing: border-box;word-break: keep-all;}
[class^="rabel_fill"]{ -webkit-border-radius:20px; border-radius:20px; padding:10px 20px; background:#6666CC; border:1px solid #6666CC; line-height: 20px; font-size:14px; color:#fff; font-weight: 700;}
.rabel_fill_color01{background:#000; border:1px solid #000;}
[class^="rabel_border"]{ -webkit-border-radius:20px; border-radius:20px; padding:10px 20px; background:#fff; border:1px solid #6666CC; line-height: 20px; font-size:14px; color:#6666CC; font-weight: 700;}
.rabel_border_color01{border-color: #000; color:#000}

/* box-shadow*/
[class^="box_shadow"]{box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; background: #fff;}
.box_shadow01{box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.25);}

.more_box button{width:23px; height:23px; background:url(../images/common/ico_global.png)no-repeat -92px -49.3px; background-size: 200px; font-size: 0;}
.ico_more_gray{background-position: -114.6px -49.3px; }


/* ========== Forms ========== */
/* input - check */
.inputCheck{width:100%; position:relative;}
.inputCheck>*{min-height:20px; line-height:20px;}
.inputCheck input[type="checkbox"]{display:none;}
.inputCheck input[type="checkbox"] + label{display: inline-block; position: relative; box-sizing: border-box; word-break: keep-all;}
.inputCheck input[type="checkbox"] + label .bul{position: absolute; left:0; display:block; box-sizing: border-box;}
.inputCheck .txt_r{position:absolute; right:0; top:0;}

.inputCheck.typeA input[type="checkbox"] + label{padding-left: 30px; font-weight: 500;font-size: 14px;line-height: 20px; color: #6666CC;}
.inputCheck.typeA input[type="checkbox"] + label .bul{top:0px; width:18px; height: 18px; background:url(../images/common/check_typeA.png)no-repeat -18px 0; background-size: 36px;}
.inputCheck.typeA input[type="checkbox"]:checked + label .bul{background-position:0 0;}


/* input - radio */
.inputRadio input[type="radio"]{display: none;}
.inputRadio.typeA{display: inline-block; margin-right: 7px;}
.inputRadio.typeA:last-child{margin-right: 0;}
.inputRadio.typeA input[type="radio"]+label{display: inline-block; padding: 5px 16px;background: #F5F6FA; -webkit-border-radius: 8px;border-radius: 8px; font-weight: 400; font-size: 14px;line-height: 20px;color: #808080;}
.inputRadio.typeA input[type="radio"]:checked+label{background: #4E5A7E;color: #FFF;font-weight: 400;}
.inputRadio.typeA input[type="radio"]+label i{margin-bottom: 2px;}

/* input */
.input{display: inline-block; width:100%; background: #fff; border: 1px solid #D7DBEC; -webkit-border-radius: 8px; border-radius: 8px; }
.input:first-child{margin-left: 0;}
.input input{display:block;width:100%;-webkit-box-flex:1;border:0;background:#fff;font-size: 16px;
	line-height: 23px;text-align:left;color: #808080;}
.input input::placeholder{color:#D7DBEC ;}
.input.on{border-color:#6666CC;}
.input.disabled{pointer-events: none;}
.input.error{border-color:#f63e3e!important;}

/* input - search_ */
.input[class*="search_"]{display: inline-block; position:relative; padding:9px 15px 9px 42px; }
.input[class*="search_"]::before{content: ''; display: block; position:absolute; left:13px; top: 11px; width:23px; height:23px; background:url(../images/common/ico_global.png)no-repeat; background-size: 200px; }
.input.search_white{border: 1px solid #fff; }
.input.search_white::before{ background-position:-23px -118.3px;}
.input.search_white input{color:#000 ;}
.input.search_white input::placeholder{color:#808080 ;}
.input.search_purple{ border: 1px solid #D7DBEC;}
.input.search_purple::before{background-position:-45.6px -118.3px}
.input.search_purple input::placeholder{color:#7E84A3}

.inputWrap{display:-webkit-box;display:-ms-flexbox;display:box;width:100%;font-size:0}
.inputWrap .input{display:block;box-flex:1;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;width:100%;}
.inputWrap [class^="btn"]{margin-left:4px;vertical-align:middle;}
.inputWrap .dash{display:block;padding:0 5px;font-size:14px;line-height:30px;}
.inputWrap select {width:150px;}
.inputWrap select +input{margin-left:10px;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .inputWrap input{width:85%;}
}
.inputFile[type="file"]{display:none !important;overflow:hidden;border:0;}
.inputWrap.typeFile label{display:inline-block;height:30px;padding:0 24px; -webkit-border-radius:3px;border-radius:3px; font-size:14px;line-height:28px;color:#fff;white-space:nowrap;text-decoration:none;cursor:pointer;margin-left:2px;border:1px solid #afafaf;background:#3378c1;}
.wrapCnt .wrapUserInfo .wrapPic .typeFile label{border:0;line-height:30px;-webkit-border-radius:3px;border-radius:3px;background:#4db7ad;}
.inputWrap.typeTel select,
.inputWrap.typeMail select{display:block;box-flex:1;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;width:100%;min-width:25px;}
.inputWrap.typeTel input{padding:0 5px;text-align:center;}

/*textarea*/
.textarea{width:100%;height:120px;padding:10px;border:3px solid #dcdcdc;}
textarea{width: 100%;min-height: 90px;padding: 12px;border:1px solid #ddd;resize:none;line-height:1.2;}

/* select */
.select{display: inline-block; min-width: 132px; position:relative;}
.select .selectbox{position:absolute; left: 0; top: 0px; z-index: 10; overflow: hidden;}
.select .select_title{width:100%; text-align: left;}
.select .select_options{display: none;}
.select .on .select_options{display: block!important;}
.select.typeA{height: 41px; }
.select.typeA .selectbox{width: 100%; background: #F5F6FA; -webkit-border-radius: 8px;border-radius: 8px;}
.select.typeA .selectbox.on{box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);}
.select.typeA .select_title{position:relative; padding:6px 32px 6px 14px;background: #E6E9F4; font-size: 16px; line-height: 28px;}
.select.typeA .select_title:after{content:''; display: block; position:absolute; right:10px; top:9px; width:23px; height:23px; background:url(../images/common/ico_global.png)no-repeat -46px -72.3px; background-size: 200px;}
.select.typeA .select_options{padding-bottom:4px;}
.select.typeA .select_option{padding:6px 12px 5px;font-size: 16px; line-height: 28px; color: #808080; cursor: pointer;}

/* search form */
.bxSrchArea{display: -webkit-flex;display: flex;}
.bxSrchArea>[class^="btn_"],
.bxSrchArea .filter_box{flex-shrink: 0; min-width: 45px;}
.bxSrchArea .filter_box>button{width:103px; height: 45px; font-weight: 400;}
.bxSrchArea .list_del{flex-shrink: 0; display: inline-block; margin-right: 11px;}
.bxSrchArea .input.search_white{margin-right: 17px; width:366px}
.filter_box{position:relative;}
.filter_box.on .filter_list{display: block!important;}
.filter_box .filter_list{display: none; position:absolute; right:0; top:57px; width: 344px; height: 289px;background:#fff;border: 1px solid #D7DBEC;box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);-webkit-border-radius: 8px;border-radius: 8px; z-index: 11;}
.filter_box .filter_header{position:relative; height:44px; padding:10px 23px; border-bottom: 1px solid #D7DBEC;}
.filter_box .filter_header p{font-weight: 700;font-size: 14px;line-height: 24px;color: #000}
.filter_box .filter_header .close{position:absolute; right:10px; top: 10px;}
.filter_box .filter_content{padding:10px 20px;}
.filter_box .filter_content .radio_tit{font-weight: 500;font-size: 14px;line-height: 24px;color: #4E5A7E;}
.filter_box .filter_content .radio_list{display: -webkit-flex;display: flex;}
.filter_box .filter_footer{padding: 20px;}
.filter_box .filter_footer .btnArea>*{flex-grow: 1;}
.filter_box .filter_footer .btnArea>*:nth-child(1){width:192px;flex-shrink: 0; }

/* =========================
	TABLES
 ========================= */
/*list*/
.table_list thead th{padding:21px 5px; font-weight: 500;font-size: 16px;line-height: 23px;color: #777;}
.table_list thead th button{vertical-align: middle; margin-left: 5px;}
.table_list tr td{padding: 18px 8px; background: #FFF; border-bottom:1px solid #E3E3E3; text-align: center; font-size: 16px; font-weight: 500; color:#000;}
.table_list tr td:not(.tal){white-space: nowrap;}
.table_list tr td:nth-child(1){padding-left: 15px;}
.table_list tr td:first-child { border-top-left-radius: 10px;  border-bottom-left-radius: 10px; }
.table_list tr td:last-child { border-top-right-radius: 10px;  border-bottom-right-radius: 10px; }
.table_list tr.on td{background: #F9F9F9; border-bottom:1px solid transparent;}
.table_list .ellipsis01{max-width: 400px;}
.table_list .inputCheck.typeA input[type="checkbox"] + label{padding-left: 18px;}
.table_list .inputCheck.typeA input[type="checkbox"] + label .bul{top:2px}

/*table_accordion*/
.table_accordion{}

/* table Header 고정 tbody scroll ====================================== */
.fixed-table-container { width: 100%;height: 100%;position: relative;padding-top:65px; }
.fixed-table-header-bg {text-align:center;color:#666; background:#fff; font-weight:bold;height: 65px; position: absolute;top: 0;right: 0;left: 0;}
.fixed-table-wrapper {overflow-x: hidden;overflow-y: auto;height: 100%;}
table.fixed-table {width: 100%;border-collapse: collapse;}
table.fixed-table td {padding: 14.25px 8px; background: #FFF; border-bottom:1px solid #E3E3E3; text-align: center; font-size: 16px; font-weight: 500; color:#000;}
table.fixed-table th {padding: 0px; /* reset */}
table.fixed-table .th-text {position: absolute;top: 0;width: inherit;line-height: 65px; padding:21px 5px; font-weight: 500;font-size: 16px;line-height: 23px;color: #777;}

/* Paging */
.wrapPaging{height:42px;position:relative;padding:7px 0;margin:25px auto 0;}
.wrapPaging .paging{margin:0;}
.wrapPaging .fl{position:absolute;top:0;left:0;}
.wrapPaging .fr{position:absolute;top:0;right:0;}
.paging{margin:20px auto 0;font-size:0;text-align:center;}
.paging a{display:inline-block;width:28px;height:28px;margin:0 5px;font-size:14px;font-weight: 400; font-family:'NotoSansKR',sans-serif;color:#333;text-align:center;vertical-align:middle;line-height:25px;border:1px solid transparent;-webkit-border-radius:5px;border-radius:5px;background:#fff;}
.paging .on{color:#fff;background:#0a4fa1;}
.paging [class^="btn"]{margin:0;font-size:0;text-indent:-9999px;border:1px solid #d7d7d7;}
.paging .btnFirst{margin-right:-1px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;background-position:0 center;}
.paging .btnPrev{margin-right:14px;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;background-position:-26px center;}
.paging .btnNext{margin-left:14px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;margin-right:-1px;background-position:-52px center;}
.paging .btnLast{-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;background-position:-78px center;}

.pager_typeA{position:absolute; left:15px; bottom:0; right:15px; height: 54px; padding:12px 10px; background:#fff;}
.pager_typeA::after{content:''; visibility: hidden; clear: both; display: block;}
.pager_typeA button{width:30px; height:30px; padding:3.5px;}

/*list*/
.list_type01{width:100%; }
.list_type01>*{display: -webkit-flex; display: flex; position: relative; padding:22px 20px 18px 30px; margin-bottom: 10px; border: 1px solid #E6E9F4; -webkit-border-radius: 8px; border-radius: 8px; box-sizing: border-box;}
.list_type01>.on{background: #F5F6FA;}
.list_type01>*::before{content: ''; display: block; position: absolute; left: 0; top: 0; bottom:0; width:8px; height: 100%;}
.list_type01 .cateA::before{background:#CAB1FF;}
.list_type01 .cateB::before{background:#F4B5AD;}
.list_type01 .itemUser_profile{flex-shrink: 0; width: 45px; height: 45px; margin-right: 20px; -webkit-border-radius: 23px;border-radius: 23px; overflow: hidden;}
.list_type01 .itemUser_profile img{display: block; width: 100%;}
.list_type01 .write_info{flex-grow: 1; width:300px }
.list_type01 .write_info .name{margin-bottom: 1px; font-size: 18px;line-height: 26px;font-weight: 700;color: #808080;;}
.list_type01 .write_info .write_tit{margin-bottom: 6px; font-size: 16px;line-height: 28px;font-weight: 400;color: #808080;;}
.list_type01 .write_info .write_cont{width:100%; display: block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size: 14px;line-height: 24px;font-weight: 400; color: #808080;}
.list_type01 .write_tiem{position:relative; flex-shrink: 0; width:65px; text-align: right;}
.list_type01 .write_tiem .time{font-size: 16px; line-height: 28px; color:#000;}
.list_type01 .write_tiem .right_bottom{position:absolute; right:3px; bottom:6px;}
.list_type01>.new .name,
.list_type01>.new .write_tit{color:#000!important;}
.show_list{display: none; position:absolute;right: 100px; top: 50px; z-index: 10; background: #FFFFFF;box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);border-radius: 8px;}
.show_list li{border-top: 1px solid #C1C7DE; padding:10px;}
.show_list li:first-child{border-top:0 ;}
.show_list li a{font-size: 14px;line-height: 24px;color: #808080;}
/* =========================
	LAYOUTS
 ========================= */
.wrap{display: -webkit-flex;display: flex; min-height: 100vh; height:100%; min-width: 1800px;}
.wrap .asid_menu{display: -webkit-flex;display: flex; flex-direction: column; -webkit-justify-content: space-between; justify-content: space-between; position:relative; width: 100px; padding:68px 27.5px; padding-bottom: 145px!important; min-height: 100vh; flex-shrink: 0; background:#FFF; z-index: 10;}
.wrap .asid_menu:after{content:''; z-index:-1; position:absolute; right: 0; top: 0; height: 100%; width: 100%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.wrap .asid_menu input[type="checkbox"]{display: none;}
.wrap .asid_menu .asid_button{display: block; width:28px; height:28px; margin:0 auto 116px; line-height: 28px; text-align: center; cursor: pointer;}
.wrap .asid_menu .asid_button .ico_asidToggleBtn{display: inline-block; width:23px; height:23px; background:url(../images/common/ico_global.png)no-repeat -138px -49.3px; background-size: 200px; vertical-align: middle;}
.wrap .asid h1{display: none; }

.wrap .asid_menu .menu_itme{position:relative; margin-bottom: 16px; min-height: 45px;-webkit-border-radius: 8px; border-radius: 8px;}
.wrap .asid_menu .menu_itme.on{background:#F5F6FA;}
.wrap .asid_menu .largeMenu{height: 45px;}

.wrap .asid_menu .menu_itme .bul{display:block; position: absolute; left: 10px; top: 11px; width:24px; height: 24px; -webkit-border-radius: 12px; border-radius: 12px; border:2px solid #808080; }
.wrap .asid_menu .menu_itme.on .bul{border-color: #000;}
.wrap .asid_menu .notice_num{position: absolute; right: 6px; top: 11px; display: inline-block; width:10px; height:10px; line-height: 24px; -webkit-border-radius: 12px; border-radius: 12px; background: #F63E3E; font-size: 0; text-align: center; vertical-align: middle; color:#fff;  }

.wrap .asid_menu .menu_box{display:none;}
.wrap .asid_menu .largeMenu{padding:10.5px 11px; -webkit-border-radius: 8px; border-radius: 8px;}
.wrap .asid_menu .largeMenu .menu_name{font-weight: 700; font-size: 16px; line-height: 24px; color: #808080; vertical-align: middle;}
.wrap .asid_menu .on .largeMenu{background: #F5F6FA;}
.wrap .asid_menu .on .largeMenu .menu_name{color: #000;}
.wrap .asid_menu .on .largeMenu +.deps2{margin-top: 18px; padding-left: 75px;}
.wrap .asid_menu .on .largeMenu +.deps2 li{margin-bottom: 8px;}
.wrap .asid_menu .on .largeMenu +.deps2 li a{display:inline-block; font-size: 16px; line-height: 28px; color: #808080;}
.wrap .asid_menu .on .largeMenu +.deps2 li.on a{color: #000;}
.wrap .asid_menu .my_info{position: absolute;left: 27.5px; right: 27.5px; bottom:60px; display: -webkit-flex;display: flex; align-items: center; padding:29px 0 11px; }
.wrap .asid_menu .my_info .profile{width:41px; height:41px; margin:0 auto; -webkit-border-radius: 21px; border-radius: 21px; overflow: hidden;}
.wrap .asid_menu .my_info .profile img{display: block; width:100%;}
.wrap .asid_menu .my_info .user_name{display: none; font-weight: 700;font-size: 18px;line-height: 26px; color: #000;}
.wrap .asid_menu .my_info .more_box{display: none; position:absolute; right:0; top:36px;}

.wrap .asid_menu:not(.open) .menu_itme:hover .menu_box::before{content: ''; display: block; width: 18px; height: 17px; position:absolute; left:-12px; top:14px; background:url(../images/common/ico_bubbleTri.png)no-repeat center; background-size: cover;}
.wrap .asid_menu:not(.open) .menu_itme:hover .menu_box{display: block; position: absolute; left:94px; top: 0; width: 172px; background: #F5F6FA;box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25); -webkit-border-radius: 8px;border-radius: 8px;}
.wrap .asid_menu:not(.open) .menu_itme:hover .largeMenu{padding:11px 20px ;}
.wrap .asid_menu:not(.open) .menu_itme:hover .largeMenu + .deps2{margin-top: 0; padding-left: 0;}
.wrap .asid_menu:not(.open) .menu_itme:hover .largeMenu + .deps2 li{margin-bottom: 0; padding:6px 22px 7px 28px;}
.wrap .asid_menu:not(.open) .menu_itme:hover .largeMenu + .deps2 li.on{background:#E6E9F4;}

.wrap .asid_menu.open h1{display: block; width:40px; height:40px; margin-bottom: 116px; font-size:0;  background:url(../images/common/logo_ico.png)no-repeat center; background-size:cover;  }
.wrap .asid_menu.open .asid_button{position:absolute; left: auto; right:0; top:50%; width:55px; height:55px; line-height: 55px; text-align: center; transform:translateY( -50%); -webkit-transform:translateY( -50%); -moz-transform:translateY( -50%); -o-transform:translateY( -50%); -ms-transform:translateY( -50%);}
.wrap .asid_menu.open .asid_button .ico_asidToggleBtn{background-position:-91.6px -72.3px;}
.wrap .asid_menu.open{width: 381px; padding:60px; }
.wrap .asid_menu.open .menu_itme.on{background:transparent}
.wrap .asid_menu.open .menu_itme .bul{left: 20px;}
.wrap .asid_menu.open .notice_num{position:absolute; right:25px; width:24px; height: 24px; font-size: 16px;}
.wrap .asid_menu.open .menu_box{display:block;}
.wrap .asid_menu.open .largeMenu{padding:10.5px 49px 10.5px 75px; }
.wrap .asid_menu.open .largeMenu .menu_name{display: inline-block;}
.wrap .asid_menu.open .my_info{border-top:1px solid #d7d8ec; left: 60px; right: 60px; }
.wrap .asid_menu.open .my_info .profile{margin:0; margin-right: 14px;}
.wrap .asid_menu.open .my_info .user_name{display: block;}
.wrap .asid_menu.open .my_info .more_box{display: block;}


.wrap .innerWrap{min-height: 100vh; flex-grow: 1; padding:60px;}
/*bg color*/
.wrap .innerWrap.white{background:#fff}
.wrap .innerWrap.white .colItem,
.wrap .innerWrap.white .rowItem{background: rgba(196, 196, 196, 0.2);}
.wrap .innerWrap.gray{background: #F5F6FA;}
.wrap .innerWrap.gray .colItem,
.wrap .innerWrap.gray .rowItem{background: #FFFFFF; -webkit-border-radius: 8px; border-radius: 8px;}
.wrap .innerWrap.gray .boxitem{width:100%; min-width: 878px; height:100%; padding:12px 20px; background: #FFFFFF; -webkit-border-radius: 8px; border-radius: 8px; overflow-y: auto;}
/*arrange_*/
.wrap .noBTit .contents{height:100%; min-height: 960px;}
.wrap :not(.noBTit) .contents{height:calc(100vh - 189px); min-height:878px;}
.wrap .contents{display: -webkit-flex;display: flex; }
.wrap .innerWrap .top_wrap{margin-bottom: 34px;}
.wrap .innerWrap .top_wrap:after{content: ''; display: block; clear: both; visibility: hidden;}
.wrap .innerWrap .top_wrap .bxSrchArea{margin-bottom:-14px;}

.wrap .contents.column{display: -webkit-flex;display: flex; flex-direction: column; justify-content: space-between;}
.wrap .contents.column [class^="col_"]{width: 100%; flex-grow: 1;}
.wrap .contents .col_2 {display: -webkit-flex;display: flex; }
.wrap .contents .col_2 .colItem{flex-grow: 1; flex-basis: auto; }
.wrap .contents .colItem{height: 100%;}
.wrap .contents .colItem+.colItem{margin-left:20px;}

.wrap .contents.low_typeA>*{height: 100%;min-height: 960px; overflow-y: auto;}
.wrap .contents.low_typeA>*:nth-child(2){flex-grow: 1; margin-left: 20px; }

.wrap .contents.col_typeA>*{height: 100%;overflow-y: auto;}
.wrap .contents.col_typeA>*:nth-child(2){max-width:calc(100vw - 751px); margin-left: 20px; }
.wrap .asid_menu.open + .innerWrap .contents.col_typeA>*:nth-child(2){max-width:calc(100vw - 1032px);}

.wrap .contents .col_1{width: 100%; flex-grow: 1;}
.wrap .contents .col_563{width: 563px; flex-shrink: 0;}
.wrap .contents .col_511{width: 511px; flex-shrink: 0;}
.wrap .contents .col_510{width: 510px; flex-shrink: 0;}
.wrap .contents .col_890{width: 890px; flex-shrink: 0;}

.wrap .contents [class^="row"]{height:50%;}
.wrap .contents [class^="row"]+[class^="row"]{margin-top:20px;}
.wrap .contents .row_633{min-height: 633px;}
.wrap .contents .row_307{min-height: 307px;}

.wrap .arrange_column{display: -webkit-flex;display: flex; flex-direction: column; justify-content: space-between;}
.wrap .arrange_column .arrange_item{width: 100%; height: 100%; flex-grow: 1; margin-top: 32px;}
.wrap .arrange_column .arrange_item:nth-child(1){margin-top: 0px;}
.wrap .arrange_column .arrange_item .top_wrap{margin-bottom: 21px;}
.wrap .arrange_column .arrange_item .rowItem{height:calc((100vh - 264px) / 2); padding:0 20px 6px;}

.wrap .arrange_row{display: -webkit-flex;display: flex; flex-direction: row; justify-content: space-between;}
.wrap .arrange_row .in_col:nth-child(1){width: 321px; flex-shrink: 0;flex-basis:321px}
.wrap .arrange_row .in_col:nth-child(2){max-width: 100%; flex-grow: 1; }
