@charset "utf-8";

/*login*/
.login{position: fixed; left: 0; top: 0; width:100%; height: 100%; min-height: 700px;}
.login .logo{display: block; width: 40px; height:40px; position: absolute; left: 140px; top:60px; font-size: 0; text-indent: -9999px; background: url(../images/common/logo_ico.png)no-repeat center; background-size: cover;}
.login .copywriter{position: absolute; left: 140px; bottom:60px;font-size: 14px;line-height: 20px;color: #727272;}
.login .input input::placeholder{color:#B2B2B2;}
.login .login_wrap{display: -webkit-flex;display: flex; height:100%;}
.login .login_cont{width:732px; flex-shrink: 0; align-self: center; padding:160px 140px;}
.login .login_cont .headline04{color:#6666CC}
.login .login_cont .login_box{position:relative;}
.login_box .input{padding:10px 16px;border:1px solid #F5F6FA;background:#F5F6FA;}
.login_box .input input{height:23px;background:#F5F6FA;color: #6666CC;}
.login .login_cont .idPw_search{text-align: center;}
.login .login_cont .idPw_search li{display: inline-block;}
.login .login_cont .idPw_search li .btn_text{padding:0 28px;}
.login .login_cont .idPw_search li:nth-child(1){border-right: 1px solid #6666CC;}
.login .login_cont .btnWrap [class^="btn_"]{display: block; width: 100%;}
.login .login_errorBox{position:relative; width:100%; padding:10px 0 0 30px; background:#fff; z-index: 10;}
.login .login_errorBox::before{content: ''; display: block; position:absolute; left: 0; top: 12px; width:21px; height: 21px; background: url(../images/common/ico_global.png)no-repeat -1px -1px; background-size: 200px;}
.login .login_errorBox>*{font-weight: 500; font-size: 14px; line-height: 20px; color: #f63e3e !important;}
.login .login_bgBox{height:100%;flex-grow: 1; background:#6666CC; text-align: center;}
.login .login_bgBox img{max-width:100%; max-height: 100%;}
.input input::placeholder{color:#D7DBEC ;}

/*Main*/
.user_listArea{position:relative; padding:20px 15px 54px; }
.user_listArea .bxSrchArea .btn_border_color01{margin-left: 7px;}
.user_listArea .list_type01{height: calc(100% - 65px);}
.main .list_detail .detail_info dl dt{padding:33px 25px 22px; display: -webkit-flex;display: flex; align-items: center;}
.main .list_detail .detail_info dl dt .itemUser_profile{width: 36px; height: 36px; margin-right: 20px; -webkit-border-radius:18px;border-radius:18px; }
.main .list_detail .detail_info dl dt .itemUser_profile img{display: block; width: 100%;}
.main .list_detail .detail_info dl dd{padding:28px; border-top: 1px solid #DDE1F5;}
.main .list_detail .detail_info .info_list .tit{font-size: 14px;line-height: 20px;color: #808080;}
.main .list_detail .detail_info .info_list .cont{font-size: 16px;font-weight: 500;line-height: 23px;color: #000000;}
.main .list_detail .detail_info .info_list.row .tit{display: inline-block; width: 73px; height: 29px; line-height: 29px; margin-bottom: 1px;}
.main .list_detail .detail_info .info_list.col .tit{margin-bottom: 4px;}
.main .list_detail .detail_info .info_list.col li{margin-bottom: 16px;}
/*detail_view*/
.main .list_detail .detail_view{padding:40px 34px 24px;}
.main .list_detail .detail_view .detail_tit{margin-bottom: 20px; display: -webkit-flex; display: flex;-webkit-justify-content:space-between;justify-content: space-between;}
.main .list_detail .detail_view .detail_tit .cont_txt02 {margin-top: 3px;}
.main .list_detail .detail_view .detail_cont {margin-top: 17px; min-height: 200px;}
.hope_date{position:relative; margin-top: 24px; padding-left:34px; font-weight: 700;font-size: 14px; line-height: 24px;color: #AF89FF;}
.hope_date::before{content: ''; display: block; position:absolute; left: 0; top: 0; width:23px; height:23px; background:url(../images/common/ico_global.png)no-repeat -161px -118px; background-size: 200px; }
.phone_number{position:relative; margin-top: 8px; padding-left:34px;font-weight: 500;font-size: 16px;line-height: 23px;color: #B2B2B2;}
.phone_number::before{content: ''; display: block; position:absolute; left: 0; top: 0; width:23px; height:23px; background:url(../images/common/ico_global.png)no-repeat -138px -118px; background-size: 200px; }
.attention_program{padding: 20px 0 0;}
.attention_program h4{font-weight: 400; font-size: 14px; line-height: 20px; }
.attention_program .program_list{-webkit-justify-content: flex-start; justify-content: flex-start; flex-wrap: wrap;}
.attention_program .program_list .program_item{margin-right: 13px; margin-top: 10px;}
/*detail_commentW*/
.main .detail_commentW{padding:24px 34px ;}
.main .detail_commentW .commont_textarea{width: 100%;height: 272px;border: 1px solid #DDE1F5; -webkit-border-radius: 8px; border-radius: 8px; overflow-y: hidden;}
.main .detail_commentW .commont_textarea textarea{border:0; padding:20px; width:100%; height:100%; font-size: 16px; line-height: 28px;color: #000000;}
/*detail_commentV*/
.main .detail_commentV{padding:24px 34px ;}
.main .detail_commentV .commont_textarea{width: 100%;height: 272px; background: #F5F6FA; border: 1px solid #F5F6FA; -webkit-border-radius: 8px; border-radius: 8px; overflow-y: hidden;}
.main .detail_commentV .commont_textarea textarea{pointer-events: none; border:0; padding:20px; width:100%; height:100%; background: #F5F6FA; font-size: 16px; line-height: 28px;color: #000000;}
/*프로그램*/
.program_list{display: -webkit-flex;display: flex;-webkit-justify-content:center;justify-content: center;}
.program_list .program_item{display:block; padding: 6px 16px; margin-right: 15px; -webkit-border-radius: 30px; border-radius:30px;font-weight: 500; font-size: 14px; line-height: 20px;color: #31313D;}
.program_list .program_item:last-child{margin-right: 0;}


/* ========== 환자리스트 ========== */
