@charset "utf-8";

/* Font-Face */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Light.woff) format('woff'),
    url(../fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Regular.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Medium.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Bold.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}

/* ========== reset ========== */
a,address,article,aside,audio,
b,blockquote,body,button,
canvas,caption,
dd,dfn,dl,div,dt,
em,embed,
fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,
i,iframe,img,input,
label,legend,li,
mark,
nav,
object,ol,option,
p,pre,
section,select,small,span,source,strong,
table,tbody,tfoot,thead,th,tr,td,tt,textarea,
ul,
var,video{margin:0;padding:0;line-height:1;-webkit-box-sizing:border-box;box-sizing:border-box;}

body{}
ul,ol,li{list-style:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6,hgroup{clear:both;}
td,th{word-break:break-all;}
img{}
img,fieldset,iframe{border:none;}
input,textarea,select{font-family:'NotoSansKR',sans-serif;color: #717171;;outline:none}
input[disabled]{background:none;}
::-webkit-input-placeholder,
::-webkit-textarea-placeholder{color:#c4c4c4;}
label{vertical-align:middle;}
a{text-decoration:none;}
em{font-style:normal;}
button{border:0;outline:0;cursor:pointer;background:none;}
hr{display:none;font-size:0;width:100%;height:0;line-height:0;border:none;}
legend,caption{position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
map, area{border:0;outline:0}